table {
    width: 45%;
    border-collapse: collapse;
    border: solid 3px blue;
}

th {
    border: solid 1px blue;
}

td {
    border: solid 1px blue;
}

tr {
    background-color: azure;
}

.white {
    background-color: white;
}

.dotted {
    border-bottom: 1px dotted blue;
}

.dotted-top {
    border-top: 1px dotted blue;
}

.dotted-left {
    border-left: 1px dotted blue;
    border-right:  1px dotted blue;
}